*{
    padding: 0;
    margin: 0;
}

body{

    display: flex;
    text-align: center;
    flex-direction: column;
    background-image: url(./assets/Genya\(4k\ TelaPC\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-left: 90%;
  margin-top: 5%;
  background-color: dodgerblue;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  justify-content: center;

}

.curiosidadeDoDia{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    color: dodgerblue;
    border-radius: 5px;
}

h2{
  margin-top: 5%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: dodgerblue;
   font-weight: bold;
   padding: 25px;
  height: 25px;
  width: 30vh;
  margin-left: 42%;

}


footer{
    background-color: rgba(30, 143, 255, 0.822);
     height: 70px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
    margin-top: 50%;
    color: black;

}


@media (max-width: 600px) {

    .curiosidadeDoDia{
      font-size: 18px;
      padding: 15px;
      flex-wrap: wrap;

    }
    body{
        background-image: url(./assets/Genya\(4k\ TelaCelular\).jpg);
        background-size: cover;
        background-position: center;


    }

   nav{
      padding: 15px;
      font-size: 18px;

   }
   h2{
    flex-wrap: wrap;
    align-items: center;
   }
    
    
}

@media (max-width: 1024px) and (min-width: 601px){
          
      .curiosidadeDoDia{

          flex-wrap: wrap;


      }
       
      body{
          
        background-image: url(./assets/Genya\(4k\ TelaTablet\).jpg);
         background-position: center;
        background-size: cover;
      }
      
}